html {
  box-sizing:border-box;
}

body {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing:inherit;
}

.titlebar {
  position:absolute;
  background-color:#EEF0F3;
  background-image: url('images/spacebackground.jpg');
  height:50%;
  z-index:3;
}


.wrapper {
  height:100%;
}

.row.lower {
  top:50%;
  height: 50%;
  width:100%;
  position:absolute;
  background:#742CA9;
  margin-bottom: 0px;
}

body {
  background-color: #EEF0F3;
}

#category p {
  font-family: Poppins, sans-serif;
  position: absolute;
  top: 200px;
  text-shadow: 3px 2px #000000;
  left:11%;
  font-size:1.8em;
  color:rgb(255, 197, 36);
  z-index: 1;
  width: 79%;
}

.titlebar h1 {
  font-family: Poppins, sans-serif;
  color: #d9d9d9;
  position: absolute;
  bottom: 0px;
  left: 3%;
  margin: 0;
  -webkit-text-stroke: 5px rgb(0, 0, 0);
  font-weight: 600;
  font-size: 6.5em;
  z-index: 0;
}

.titlebar img {
    position: absolute;
    bottom: -182px;
    left: 65%;
    height: 300px;
    z-index: 10;
}

.nameForm {
  position:absolute;
  left:40%;
  width:15%;
  min-width:148px;
  z-index:0;
  /*font-size:3em;*/
}

.nameForm input[type="text"] {
  font-size:1.7em;
  color:rgba(59, 59, 56, 0.81);
  border-bottom:5px solid rgba(59, 59, 56, 0.2);
}

.nameForm input::-webkit-input-placeholder {
  font-size:1.2em;
  color:rgba(59, 59, 56, 0.81);
}

.lower h1 {
  font-family: Poppins, sans-serif;
  color: #ffc524;
  position: relative;
  text-shadow: 13px 7px #ff4000;
  margin: 0;
  top: 8%;
  padding-left: 2%;
  font-weight: 600;
  font-size: 10em;
  z-index: 0;
}

.lower .play-button {
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  background:#DA5252;
  position:absolute;
  height:20%;
  min-height:72px;
  width:20%;
  min-width: 142px;
  border:none;
  left:63%;
  color:rgba(59, 59, 56, 0.81);
  z-index:1;
  font-weight:600;
  font-size:4em;
  overflow:hidden;
}

.lower .play-button:focus {
  background-color:#DA5252;
}

.lower .play-button span {
  display:none;
}

.leaderboard-button {
  margin-top: 160px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  background:#742CA9;
  border:none;
  color:rgba(59, 59, 56, 0.81);
  z-index:1;
  font-weight:600;
  font-size:4em;
  overflow:hidden;
}

.lower .leaderboard-button:focus {
  background-color: #ffc524;
}

.lower .leaderboard-button span {
  display:none;
}

.nameForm {
  color:red;
}

.waiting {
  background:#EEF0F3;
  z-index:5;
  position:absolute;
  top:35%;
  left:37%;
  width:25%;
  height:30%;
  border-radius:10px;
  min-width: 316px;
  min-height: 150px;
}

.waiting h2 {
  font-family: Poppins, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  color:#DA5252;
  position:relative;
}

.waiting button {
  background:#EEF0F3;
  position:relative;
  left:35%;
  border:none;
}

.waiting p {
  text-align: center;
}

.leaderboard {
  background:#EEF0F3;
  z-index:5;
  margin: auto;
  top:20%;
  /*left:37%;*/
  width:50%;
  /*height:30%;*/
  border-radius: 10px;
  /*min-width: 300px;*/
  /*min-height: 600px;*/
}

.leaderboard h3 {
  padding-top: 20px;
}

.outcome {
  background:#EEF0F3;
  z-index:6;
  position:absolute;
  top:20%;
  left:10%;
  width:80%;
  height:55%;
  border-radius:10px;
  /*display:flex;*/
}

.outcomeCardwrapper {
  top:10%;
  position:absolute;
  height: 80%;
  display:flex;
}

.outcome h2 {
  font-family: Poppins, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  color:#DA5252;
  position:relative;
}

.game {
  height:100%;
  width:100%;
  /*background:#66AFDC;*/
  position:absolute;
  background-image: url('images/spacebackground.jpg');
}

.cardFront {
  display:flex;
  width:200px;
  height:280px;
  background:#DA5252;
  border-radius:10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.24);
  position:relative;
  /*padding:10px;*/
}

.cardFront.selected-card {
  background: rgba(224, 224, 107, 1);
  margin-top: -20px;
}

.cardFrontWrapper img {
  margin:0 auto;
  width:97%;
  height:65%;
  z-index:3;
  background:#66AFDC;
  border-radius:5%;
}

.cardFrontWrapper {
  /*margin:0 auto;*/
  top:2.5%;
  left:2.7%;
  position:absolute;
  background:#EEF0F3;
  height:95%;
  width:95%;
  border-radius:10px;
  border-width:6px;
  padding:5px;
  z-index:2;
  overflow: auto;
}

.statsWrapper {
  line-height: 20px;
  position:relative;
  bottom:0px;
  padding-left:10px;
  z-index:3;
}

.cardFront p {
  z-index:3;
  /*display:flex;*/
  /*position:absolute;*/
  font-family: Poppins, sans-serif;
  line-height:10px;
  left:15px;
}

.cardFront ul {
  margin:2px;
}

.cardBackWrapper {
  background-repeat:no-repeat;
  height:100%;
  width:100%;
  position:absolute;
  overflow:show;
  background-position: center;
}

.cardBackWrapper img {
    position: relative;
    bottom: -70px;
    height: 67%;
    width: 90%;
}


.cardBack {
  top:-70px;
  width:30%;
  height:100%;
  /*background:#742CA9;*/
  border-radius:10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.24);
  position:relative;
  /*padding:10px;*/
}

.userHand {
  bottom:9%;
  display:flex;
  justify-content:space-between;
  position:absolute;
  height:280px;
}


.selected {
  background:red;
}

.playbtn {
  position:absolute;
  right:5%;
  bottom:5%;
  color:rgba(59, 59, 56, 0.81);
  background:#E0DF6B;
  border-radius:10px;
  border: 0px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  font-size:1.3em;
  color:#DA5252;
  padding:5px 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
}

.playbtn:hover {
  background:rgba(224, 224, 107, 0.47);
}

.playbtn:focus {
  background:rgba(224, 224, 107, 1);
}
.environmentImage {
  position: absolute;
  top: 30%;
  width: 60%;
  height: 50%;
  left: 2%;
}
.environmentImage img {
  width: 160%;
  height: 62%;
}


.opponentHand {
  display:flex;
  justify-content:space-between;
  position:absolute;
  height:30%;
  padding-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 2%
}

.youWin {
  background:#EEF0F3;
  z-index:5;
  position:absolute;
  top:35%;
  left:37%;
  width:25%;
  height:30%;
  border-radius:10px;
  text-align:center;
}

.youWin button {
  background:#EEF0F3;
  position:relative;
  border:none;
}

.youWin h2 {
  font-family: Poppins, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  color:#DA5252;
  position:relative;
}

.youLose {
  background:#EEF0F3;
  z-index:5;
  position:absolute;
  top:35%;
  left:37%;
  width:25%;
  height:30%;
  border-radius:10px;
  text-align: center;
}

.youLose button {
  background:#EEF0F3;
  position:relative;
  border:none;
}

.youLose h2 {
  font-family: Poppins, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
  color:#DA5252;
  position:relative;
}

.cover {
  height:100%;
  width:100%;
  left:0;
  top:0;
  position: absolute;
  background-color:rgba(238, 240, 243, 0.4);
  z-index:5;
  padding:0;
  margin:0;
}

.oppWaiting {
  top:50%;
  left:42%;
  position:absolute;
  color:#DA5252;
  font-size:1.4em;
  font-family:Poppins, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);
}
.flash {
  animation: pulse 0.5s infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#chat {
  padding: 0px;
  height:100%;
  right:0px;
  position:absolute;
  z-index:10;
  overflow: hidden;
}

.messages-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%;
  width: 100%;
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
}

.chat-form-container {
  overflow: hidden;
  overflow-wrap: normal;
  height: 15%;
  width: 100%;
}

#chat form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  right:0;
  width: 100%;
}

#chat form input {
  border: 0;
  padding: 0 10px;
  width: 100%;
  width: calc(100% - 22px);
  border: 1px solid;
  margin-bottom: 6px;
  /*margin-right: .5%;*/
}

#chat .chat-input {
  background-color: #EEF0F3;
  width: calc(25% - 20px);
  bottom: 5px;
  position: fixed;
  right: 10px;
}

#chat button {
  width: 100%;
  background: rgb(130, 224, 255);
  border: 1px solid rgb(130, 224, 255);
  padding: 10px;
}

#chat #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
#chat #messages li {
  padding: 5px 10px;
}
#chat #messages li:nth-child(odd) {
  background: #eee;
}

